@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import 'aos/dist/aos.css';

body {
  @apply bg-majak-dark text-white overflow-x-hidden font-sans;
}

/* Scrollbar Keren */
::-webkit-scrollbar { width: 10px; }
::-webkit-scrollbar-track { @apply bg-[#050b14]; }
::-webkit-scrollbar-thumb { 
  background: linear-gradient(to bottom, #0056b3, #f97316); 
  border-radius: 10px;
}